*.a             
!lib.a           
/TODO        
build/           
doc/*.txt        
 
bin/:           

/bin:            
/*.c:            
**/foo:          
a/**/b:          
!/bin/run.sh     
*.log:           
config.php:     
 
/mtk/          
*.zip           
/mtk/do.c  

/node_modules
config.ini
*jar
*.VScode

*.vscode
*.git