#home {
    width     : 100%;
    height    : 100%;
    margin    : 1.3rem 0;
    padding : 0 .2rem 3rem .2rem;
    background: #fee4e2;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;

    //搜索
    .van-search__content--round {
        padding-right: .2rem;

        border: solid .05rem #f3807e;

    }

    .ico_item {
        font-size: x-large;

        display: flex;

        li {
            display: block;

        }

    }

    .li_item {

        width          : 100%;
        height         : auto;
        display        : flex;
        overflow       : hidden;
        box-sizing     : border-box;
        justify-content: center;
        align-items    : stretch;

        img {
            display               : block;
            width                 : 1.2rem;
            height                : 1.2rem;
            image-rendering       : -webkit-optimize-contrast;
            image-rendering       : -moz-crisp-edges;
            image-rendering       : crisp-edges;
            -ms-interpolation-mode: nearest-neighbor;

        }

        span {
            display    : block;
            text-align : center;
            line-height: auto;
            padding    : .1rem 0;

        }

        div {
            padding   : .1em;
            box-sizing: border-box;

        }

    }

    //轮播

    .van-swipe {
        border-radius: .3rem;

        .van-swipe__track {
            .van-swipe-item {

                img {
                    width : 100%;
                    height: 2rem;

                }
            }
        }


    }

    .notice-swipe {
        height     : 40px;
        line-height: 40px;
    }

    //通知
    .in_from {
        .van-notice-bar {
            padding: 0 .1rem;

            .van-notice-bar__left-icon {
                color    : #e68683;
                font-size: .5rem;
            }

            .van-notice-bar__wrap {
                margin-left : .13rem;
                padding-left: .2rem;
                border-left : .1rem solid #e68683;
                height      : 60%;
                // .van-notice-bar__content {}
            }


        }
    }

    //red_packet
    .red_packet {
        padding: .2rem 0;

        img {
            width : 100%;
            height: 2rem;
        }
    }

    .grid {
        width         : 100%;
        height        : max-content;
        display       : flex;
        font-size     : .5rem;
        background    : #fff;
        flex-direction: column;
        padding       : .33rem;
        border-radius : .35rem;
        margin-bottom: .3rem;

        .text {
            width          : 100%;
            height         : .78rem;
            font-size      : .5rem;
            display        : flex;
            justify-content: space-between;
            align-items    : baseline;

            span {
                line-height: .78rem;
            }
            }

            .grid_child {
                display           : flex;
                // justify-content: space-between;
                flex-direction    : row;
                box-sizing        : border-box;
                overflow          : hidden;

                .grid_left_div {
                    flex: 1;

                img {
                    width : 2.94rem;
                    height: 5rem;
                    }
                    }

                .grid_right_div {
                    flex          : 1;
                    display       : flex;
                    flex-direction: column;
                    align-items   : flex-end;
                    box-sizing    : border-box;
                    overflow      : hidden;

                    .right_div_1 {
                        width: 100%;
                        img {
                    width : 2.94rem;
                    height: 2.15rem;
                    }
                    }

                .right_baojian {
                    width: 100%;
                }

                .right_div_2 {
                    width: 100%;
                     img {
                    width : 2.94rem;
                    height: 2.15rem;
                    }
                    }
            }
        }
    }
    .van-tab {
        background-color: #fde4e2;
        font-size       : .3rem;
    }


}





:root {
    --van-search-padding         : 0rem 0 .2rem 0;
    --van-background-2           : rgb(204, 51, 51);
    --van-search-background-color: rgb(24, 16, 16);
    --van-search-background-color: "";
    --van-padding-xs             : 0;
    //搜索
    // --van-cell-line-height:.8rem;
    --van-cell-font-size         : .4rem;
    --van-nav-bar-height         : 1.2rem;
    --van-field-icon-size        : .52rem;
}